.playerListButtons {
  padding-top: 3em;
  text-align: center;
}

.addPlayerForm {
  padding-top: 2em;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

.playerFormSubmit {
  text-align: center;
}

.listHeader {
  font-weight: bold;
  letter-spacing: 0.1em;
}
