.AddGameCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--tertiary);
  margin: 1em 0.5em 1em 1.3em;
  border-radius: 4em 0em;
  padding-block: 1em;

  box-shadow: 3px 3px 5px #818181;
}

.AddGameCardTitle {
  color: var(--secondary);
  font-size: 2em;
  text-shadow: -1px -1px #000;
  width: 100%;
  padding: 1em;
}

.AddGameRed {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.AddGameCardSelectRed {
  color: var(--red);
  font-size: 1em;
  font-family: "Bungee";
  padding: 1em 2em;
  margin-left: 1em;
}

.RedWin {
  padding-right: 2em;
  height: 1.5em;
  transition: all 0.5s ease;
}

.RedWinDisabled {
  padding-right: 2em;
  height: 1.5em;
  opacity: 0.2;
  transition: all 0.5s ease;
}

.AddGameCardVS {
  color: var(--secondary);
  font-size: 1.4em;
  padding: 0.3em;
}

.AddGameBlue {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.AddGameCardSelectBlue {
  color: var(--blue);
  font-size: 1em;
  font-family: "Bungee";
  padding: 1em 2em;
  align-self: flex-end;
  margin-right: 1em;
}

.BlueWin {
  padding-left: 2em;
  height: 1.5em;
  transition: all 0.5s ease;
}

.BlueWinDisabled {
  padding-left: 2em;
  height: 1.5em;
  opacity: 0.2;
  transition: all 0.5s ease;
}

.AddGameCardButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
  padding-top: 2em;
}

.AddGameCardButton {
  color: var(--background);
  border: 1px solid var(--primary);
  border-radius: 0.5em;
  padding: 1em;
}
