.AddPlayerCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary);
  margin: 1em 1.8em 1em 0.7em;
  border-radius: 0em 4em;
  padding-block: 1em;

  box-shadow: 3px 3px 5px #818181;
}

.AddPlayerCardTitle {
  color: var(--secondary);
  font-size: 2em;
  text-shadow: -1px -1px #000;
  width: 100%;
  padding: 1em;
}

.AddPlayerCardInput {
  width: 90%;
  padding: 1em;
  border: none;
  background-color: var(--tertiary);
  color: var(--background);
}

.AddPlayerCardButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
  padding-top: 2em;
}

.AddPlayerCardButton {
  color: var(--tertiary);
  border: 1px solid var(--tertiary);
  border-radius: 0.5em;
  padding: 1em;
}

.AddButton {
  color: var(--background);
  background-color: var(--secondary);
}
