.HeaderDouble {
  background-color: var(--tertiary);
  height: 12vh;
  border-radius: 0 0 1em 1em;
}

.HeaderContainer {
  background-color: var(--primary);
  border-radius: 0 0 1em 1em;
  height: 10vh;
}

.HeaderContainer h1 {
  color: var(--background);
  font-size: 1.3rem;
  margin-top: 1.5em;
  display: inline-block;
  margin-left: -80px;
}

.HeaderContainer img {
  width: 80px;
  float: left;
}
