.PlayerCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  margin: 1em 1.8em 1em 0.7em;
  border-radius: 0em 4em;
  padding-block: 1em;

  box-shadow: 3px 3px 5px #818181;
}

.PlayerCardHead {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1em;
}

.PlayerCardHead h1 {
  color: var(--secondary);
  font-size: 2em;
  font-weight: 400;
  text-shadow: -1px -1px #000;
}

.PlayerCardHead img {
  width: 4em;
  height: 4em;
}

.PlayerCardTable {
  color: var(--background);
  width: 100%;
  padding-bottom: 2em;
}

.PlayerCardTable th {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-size: 1.1em;
}

.PlayerCardTable td {
  font-size: 0.9em;
  padding-top: 0.5em;
}

.PlayerCardName {
  text-align: left;
  padding-left: 1.5rem;
}
