:root {
  /* colors */
  --primary: #293241;
  --secondary: #ee6c4d;
  --tertiary: #3d5a80;
  --background: #f9f9f9;
  --blue: #586ddc;
  --red: #ff2c2c;
  --gold: #b08d57;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: var(--bg);
  text-align: center;
  min-height: 100vh;
}
