:root {
  /* colors */
  --primary: #3d5a80;
  --secondary: #ee6c4d;
  --tertiary: #293241;
  --background: #f9f9f9;
  --red: #ff2c2c;
  --blue: #586ddc;
  --gold: #b08d57;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: var(--background);
  text-align: center;
  min-height: 100vh;
  font-family: "Bungee";
}

.Hide {
  display: none;
  opacity: 0;
  height: 0;
}

.Header {
  position: fixed;
  top: 0;
  width: 100%;
}

.sep {
  height: 11vh;
}

.NavBar {
  position: fixed;
  bottom: 0;
  width: 100%;
}
